*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pointer{
    cursor: pointer;
}

.small-img{
    width: 3rem;
}

.big-img{
    width: 3.5rem;
}

.back-view{
    height: 100vh;
    width: 100%;
    background: rgb(65,148,136);
    background: linear-gradient(180deg, rgba(65,148,136,1) 15%, rgba(217,219,213,1) 15%);
    padding-top: 3%;
}

#structure{
    border: 1px solid red;
    width: 80%;
    height: 95%;
}

#left{
    width: 30%;
}

#right{
    width: 70%;
}