*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pointer{
    cursor: pointer;
    margin: 0.4rem;
}

.icons-top{
    color: rgb(160, 154, 154);
    font-size: larger;
}

.small-img{
    width: 3rem;
    margin: 0.6rem;
    aspect-ratio: 1;
}

ul{
    list-style: none;
    margin: 0;
}

.big-img{
    width: 3.5rem;
    margin: 0.5rem;
}

.back-view{
    height: 100vh;
    width: 100%;
    background: rgb(65,148,136);
    background: linear-gradient(180deg, rgba(65,148,136,1) 15%, rgba(217,219,213,1) 15%);
    padding-top: 3%;
}

#structure{
    width: 80%;
    height: 95%;
    padding: 0;
}

#left{
    width: 30%;
}

.gr-back{
    background-color: rgb(234, 234, 234)
}

.ver-border{
    border-right: 1px solid lightgray;
}

.notifications{
    background-color: rgb(158, 217, 248);
    height: 4rem;
    font-size: small;
}

.fa-bell-slash{
    color: rgb(158, 217, 248);
    font-size: 1.3rem;
}

.activate{
    color: grey;
}

#searcher{
    padding: 0.4rem;
    background-color: rgb(234, 234, 234);
}

.glass-search{
    background-color: white;
    padding: .5rem 2rem .5rem 2rem;
    margin: 0;
}

#search{
    width: 100%;
    height: 2rem;
    border: none;
    font-size: x-small;
}

#contacts{
    height: 35.31rem;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.contacts-list{
    padding: 0;
    background-color: white;
}

.info{
    width: 100%;
    margin-left: .3rem;
}

.small-text-grey{
    font-size: x-small;
    color: grey;
}

.top-border{
    border-top: 1px solid lightgray;
}

#right{
    width: 70%;
}

.friend{
    width: 100%;
}

#message{
    height: 38.1rem;
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
    padding: 3rem;
}

.bubble-sent{
    background-color: rgb(220, 247, 192);
    border-radius: 0.8rem;
    margin-top: 0.6rem;
    font-size: 0.8rem;
}

.bubble-received{
    background-color: white;
    border-radius: 0.8rem;
    margin-top: 0.6rem;
    font-size: 0.8rem;
}

.bubble-text{
    padding: 0.8rem 4.5rem 0.8rem 0.8rem;
}

.bubble-time{
    font-size: xx-small;
}

.message-bar{
    height: 4rem;
}

#new-message{
    width: 40rem;
    height: 2.5rem;
    font-size: x-small;
    padding-left: 1rem;
    border-radius: 0.3rem;
    border: none;
}

.icons-bottom{
    color: grey;
    font-size: larger;
    margin: auto;
}

